.App {
  text-align: center;
  width: 100%;
  height: 100%;
  position: absolute;
}

.Center {
  padding-top: 20px;
  position: absolute;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 600px;
}
